body
{
  background-color: black;
}
div
{
border: 0.1px solid #61d7fa;
border-radius:2px;
width: 80px;
text-align:center;
}
.active
{
  background-color:#61d7fa;
  width:30px;
  border:0;
  margin-left:5px;
  font-size:8px;
  margin-bottom:10px;
  border-radius:2px;
}
p{
  color:#61d7fa;
}
.locked
{  
   background-color:#487979;
  width:30px;
  border:0;
  margin-left:5px;
  font-size:8px;
  margin-bottom:10px;
  border-radius:2px; 
}
.stop
{
 color:red;
}
button:enabled:hover
{
  background-color:#487979;
  opacity:70%;
}
